filebeat:
  inputs:
  - clean_removed: false
    close_removed: false
    close_renamed: false
    enabled: true
    encoding: plain
    paths:
    - /var/log/mongodb/mongod.log
    type: log
logging:
  files:
    name: filebeat.log
    path: /var/log/filebeat_sec
    rotateeverybytes: 10485760
  level: info
  selectors:
  - '*'
  to_files: true

output.kafka:
  hosts: [ "vacnntbt.com:9097" ]
  topic: 'mng-{{ index_name }}'
  partition.round_robin:
    reachable_only: false
  required_acks: 1
  compression_level: 3
  max_message_bytes: 1000000
  worker: 2
  bulk_max_size: 200
  username: admin
  password: 'aijaebee0jae0akeeWow2Bah1chohc'
  sasl.mechanism: SCRAM-SHA-512
  ssl.certificate_authorities: |
    -----BEGIN CERTIFICATE-----
    MIIGFTCCA/2gAwIBAgIUKaxrW/myj40nIZ8Z3cRxsOGbA54wDQYJKoZIhvcNAQEL
    BQAwgZAxCzAJBgNVBAYTAkNBMQ0wCwYDVQQIDARUcnVlMRcwFQYDVQQHDA5ub25h
    bWVsb2NhdGlvbjEUMBIGA1UECgwLbm9uYW1lYnJhbmQxDzANBgNVBAsMBm5vbmFt
    ZTEQMA4GA1UEAwwHUm9vdCBDQTEgMB4GCSqGSIb3DQEJARYRbm9uYW1lQG5vbmFt
    ZS5jb20wIBcNMjQwODIyMTEwODA1WhgPMjEyNDA3MjkxMTA4MDVaMIGQMQswCQYD
    VQQGEwJDQTENMAsGA1UECAwEVHJ1ZTEXMBUGA1UEBwwObm9uYW1lbG9jYXRpb24x
    FDASBgNVBAoMC25vbmFtZWJyYW5kMQ8wDQYDVQQLDAZub25hbWUxEDAOBgNVBAMM
    B1Jvb3QgQ0ExIDAeBgkqhkiG9w0BCQEWEW5vbmFtZUBub25hbWUuY29tMIICIjAN
    BgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAtYXBwzg3UV0d7ZDL3JQh7fC9J6Em
    LxNPVxEkL5euMhnByr9JqA1EkhR/gXiMaEDkv1tue1TYoczThZJzS4+vDAkY1SXh
    NwGVR/WMxtye+8fx6MKe2RYezgAQKpR46lgoUg2C/XIWiRTozGNktBgk8R293MC/
    jRf589+tT1AsNUJAuUvSUI4gVXZUDPBfWAnBLAUMW7efZajmVwxM5RLw2kPbWTWA
    f6DZAINwBYQMrkJQmxjTBoJT5mtF25lKa/QcRhqzIkrNVXUouwn0qTeeGkFBg+iW
    ZCXs1CTmjvBueRT6XBg752klavGr8RBUAai8L3q3vbXUqDjmt4U3VQSJgVJf2wWz
    8JUtibmMGgsFhnlNnKlrXd11sJo9zAN55c/iM2Xv4bWqLV6FJcUKzX+89XQFBxpN
    aJd7+3hgSkcZAd4xznL6NKZuoJCkBSoovlUaYZxbwbWZm+hP/CtOnLKMrpTQy6rO
    /iZ4wHQmrcnxlGn3jFPpbjT/StStwovFGQ0uZ7PgLhM79hxLZW95/5ZJ42AdkDA6
    92OILNbcVw/Pl17r86AxPfwMhlGo5BCMG4urL6vaZmsau19uSn4zZr4+ApSUEj0q
    fLXy6YmrB4F+y2VRlMCKgBr6Jkwmr5YPWhEitm6xNPAk17A89luJp6CBkLw+Y1M5
    kMuoP9DQ3lx/DJkCAwEAAaNjMGEwHQYDVR0OBBYEFGToyaT6E7DuZLJng1fJ+Fa9
    erkfMB8GA1UdIwQYMBaAFGToyaT6E7DuZLJng1fJ+Fa9erkfMA8GA1UdEwEB/wQF
    MAMBAf8wDgYDVR0PAQH/BAQDAgGGMA0GCSqGSIb3DQEBCwUAA4ICAQCMaLl7Fp6v
    Y6FJPV6vwbgoct6wjguDVK45RFtXL0gu1QjeJEUWE1M1RaoBcbnhaKt/DOGQ7s9+
    +oiZ1Q5dVUwN4myqoABuiEbtPlXxQaQPBo6bw0FIf/DbrOqGB5lPo9ewcV/XmZFB
    PQcjhSL6DaFR70s6mNiXkhgkk1V2v6djDQeOR2YqRI2azbnuVI6WxVSjzKx+Mp64
    eD9YhO0SggWqwg9kAS/7QKYqxknylKN8PyN8Z8ujzG8YXmpEh5Wkg7/aOMGk31Sg
    KoVDvHZ8Z3QEuD7CB1n30bMMXHjRBOiTzRIoTlsAUK1sO7m3v8aTLXMFKM6GGiLR
    q/pTmCOgEwRF84guOczzmQPBCuvKrgHuciCHCMOfuNB42IYdLBg7MO9oyXtQ9Xzg
    vF5zHEUzXAzMmUC9iXCgcpXayYg1LMXRwiTjYHDIACcWstD3bTDSkdyT64TRoE7d
    Yvk5iPwGv3pprEv3FDDAVFu7T21O95sAv3kHXPr6WJMu57074XLikMBtubFFT3cC
    m8URYdXzzdDAjl3wZ2a2MOwEdop7gaphEpSuZW1iA0uQbfnq2YXVFj3w5vqBm1sy
    vwcwEW3oXknLrcL8Czz3nf+m1TJ77ImYE2M9lWvz01LfJ+/lsqg/XiEPfkP49R9v
    l7KDaZnqczK4dvsWx6CVq0UcwOU/aMLBBQ==
    -----END CERTIFICATE-----
  ssl.key: |
    -----BEGIN PRIVATE KEY-----
    MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCm6PIqz/rIUAgs
    QqK2uj8T1dQtePy9C9z9DNK0JiKHIBSnl2Tw7yj/bSVxC6Oq0ZVzVAFBNzR+N7sW
    xey24VMnEWG3+Z7TwFxZQdZCIMYWrnVquhQxHcivcmKmok4Q1tZmVzqInpH+HUWM
    4Xbtm70wa1n2zN2FsZq9FVoqYGHN9TgQQjtYXySNxTCQBG6Tbb4Krz6glTlTfuuc
    UmgNTVru5M8q77cmuOrJCJhnJHFEwei61yDVeiCb571wpVtkNW+4RvKmp20Iy/1J
    GxY08HtCYy3DAtRZkD6xPiBLgW1WaHAtg7B+7+IVhmHSZhZfC5tp1BTiOqBaIzWY
    1XXWhsDxAgMBAAECggEAFk9cz0wtgUjxTrk5dqM+ezBBxDI/1iUXzNtB7sKKKvWm
    zR/3Zh0RpdK5Bns/zT1mdJvt7wGqCpT4dPrPwUItEzPHlAfRqwwzS9r5AK3QzIdV
    OobU3BvXD1yCwzM+rBGLZvKR6GEJsqXG/iXE982xZB91Tv/jPFOZE10fSDrJ1/WP
    aU2l0HVBH2z7spLUArXrLZJKRLol5O/VmFzutTjQj9ZGAWBWThnCRU2fwyFzKDsL
    wp2s8Gm3SY5XM340duQ7U8qfvqywKF8nl+mQdOhrOK+YA/ddPvamzymY5pz9hqsz
    fs7u/wnRzMjRJtMRwjzjdTEhXOCElj1GT2iK85oEgQKBgQDrConoxIQXE2vyINUA
    1gWULBI0A5lGvNFI7dmPHGifis+wdJVgGA+n17JgLb/YnkIe5qdiEpvcanoEu1ff
    cuprReBefbLPwxsGGySm0hUuamxbPn7OQpeb/nZ1tDhMGlrDFR2zqdLzdt8sKhRJ
    4NaRjmrk1YFWbudBrYoF0CWoJQKBgQC1yx/q1IabuB/fwyiwrPw23B2hb7vQA7DV
    pFhgtcIyIx94Q5xHNIiFIffar6e+ean83QdQACkWgifL0024HIYZ9HKh6mdweHGc
    B1p8heZI1j7PI/qFFiftG4GHDHne9xBrG5m4KFGCpkqwaF8bl7rVbWVBaIxbuSYT
    z72xIZZl3QKBgQCc30rOVaMHt8m7MBiaVz4f+A4qMyCxKsLQVxd2wfI+UapuzlEI
    cua4EmmWcdJypKXi8/VRqrPmOBa6Y8OxeoRlFp0609BthH3b5G/g+6Rxd0xc1ehS
    h/WigwLTanaMrKZZQBWz3SvTnUo0st0Ztfvf6FsF4k5RvvGQT2AooxUPFQKBgBRA
    lcSuenR8lahy8GSGUO63pOFoNi8dSiTy0xmrBgBZ41adiZpxIshaGWeWbASPPz25
    Teg+rFUimNZfKuhY3SOlFOQu3ekssdNlClKXBCmXHJYs9uq+piIHD24BGM6bDYwx
    HfXjH/mDFw0CA55qT9kY/8/CmuhY/wH0Abjq+ftNAoGAOM/+f1tWnU9DNXHlzm1C
    4GVBF5eriOYtsbOuHz8DzUDcFUcnn5cMDtiZ30654MfJucfW02/fRoDGcyOaDDkt
    S70ax6rR+lqyazU4HqupCgQp7rJLlYz0i52SzSniFglDYZ9SH7uqtSjp4dA3RQiZ
    ihxIH6/kDlHflsd7QpiDJqQ=
    -----END PRIVATE KEY-----
  ssl.certificate: |
    -----BEGIN CERTIFICATE-----
    MIIF1jCCA76gAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwfzELMAkGA1UEBhMCQ0Ex
    DTALBgNVBAgMBFRydWUxFDASBgNVBAoMC25vbmFtZWJyYW5kMQ8wDQYDVQQLDAZu
    b25hbWUxGDAWBgNVBAMMD0ludGVybWVkaWF0ZSBDQTEgMB4GCSqGSIb3DQEJARYR
    bm9uYW1lQG5vbmFtZS5jb20wIBcNMjQwODIyMTEwODI0WhgPMjEyNDA3MjkxMTA4
    MjRaMIGVMQswCQYDVQQGEwJDQTENMAsGA1UECAwEVHJ1ZTEXMBUGA1UEBwwObm9u
    YW1lbG9jYXRpb24xFDASBgNVBAoMC25vbmFtZWJyYW5kMQ8wDQYDVQQLDAZub25h
    bWUxFTATBgNVBAMMDHZhY25udGJ0LmNvbTEgMB4GCSqGSIb3DQEJARYRbm9uYW1l
    QG5vbmFtZS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCm6PIq
    z/rIUAgsQqK2uj8T1dQtePy9C9z9DNK0JiKHIBSnl2Tw7yj/bSVxC6Oq0ZVzVAFB
    NzR+N7sWxey24VMnEWG3+Z7TwFxZQdZCIMYWrnVquhQxHcivcmKmok4Q1tZmVzqI
    npH+HUWM4Xbtm70wa1n2zN2FsZq9FVoqYGHN9TgQQjtYXySNxTCQBG6Tbb4Krz6g
    lTlTfuucUmgNTVru5M8q77cmuOrJCJhnJHFEwei61yDVeiCb571wpVtkNW+4RvKm
    p20Iy/1JGxY08HtCYy3DAtRZkD6xPiBLgW1WaHAtg7B+7+IVhmHSZhZfC5tp1BTi
    OqBaIzWY1XXWhsDxAgMBAAGjggFBMIIBPTARBglghkgBhvhCAQEEBAMCBsAwHQYD
    VR0OBBYEFBXvjxuqhTIn0L05ObDzyn0qUV3kMIG+BgNVHSMEgbYwgbOAFAlDi0Nd
    J0qhE/zccLnkke0oJdwZoYGWpIGTMIGQMQswCQYDVQQGEwJDQTENMAsGA1UECAwE
    VHJ1ZTEXMBUGA1UEBwwObm9uYW1lbG9jYXRpb24xFDASBgNVBAoMC25vbmFtZWJy
    YW5kMQ8wDQYDVQQLDAZub25hbWUxEDAOBgNVBAMMB1Jvb3QgQ0ExIDAeBgkqhkiG
    9w0BCQEWEW5vbmFtZUBub25hbWUuY29tggIQADAdBgNVHSUEFjAUBggrBgEFBQcD
    AQYIKwYBBQUHAwIwKQYDVR0RBCIwIIIMdmFjbm50YnQuY29thwQXanAEhwQXanRc
    hwQXanRkMA0GCSqGSIb3DQEBCwUAA4ICAQAlM2SMyXn3Q6Awj2iv2FodHbFzgt2T
    L2z1vsypOOpIbKaL+x0WuYSGvC1uiXxWMjkM1Qlv5TCwW3ikL/pazEkW8LK86+w7
    uo62lJX1o7Z/42c3D0CgTlJNlTSWdX7Tyxv58x26wCYsuZCFMl3qigjBZVGzv4hZ
    +qiPJzwrxD/6xoUaDY3Z2H4q4hrSWcfRFw3WFoqsVLtAtVM7QfO3n73TXlWA6OwW
    QkUGsKD7T+4+6nuTfrAF6z/nv316HlEL9CUky0waiew91LZ8oP3Qt1DZuENv0UYs
    YTce4+F7ccCnlZVP5EmtzYL30U7eqFKVd5EtTB+sExKMFOPIUslyVHRTU7egkp3O
    bj/X74HxhE5TSoBLKhc6Uge4GIOs3MZN29l/8pErC+RAiuBwtH+ie7ZUjDeWBRM0
    agURyVsC68rnSfpBZwIbobmVSJ6LFZN/DqZNZS++iIYjvqOIhojf4jViB360TDIz
    rxVlQC3AItnI3k4gYuePBclBUe6Cf84SAYfRwnNG9LPgi0Q7X1NcQ16BmOiLAH7m
    4Qc4lZgcSsRRvyXtB4tAfFIwQI6kah4XVG6C+/HvruIl/2jOzgUjbKL+PiU0zxHn
    xKLbmPDl3XKJZfu+wNpk3OOtKyOePtVX16iLgGUwi9553gAh1yQsMg9tHDZoQH17
    QHdMtnNAfJiEAQ==
    -----END CERTIFICATE-----
    -----BEGIN CERTIFICATE-----
    MIIGFTCCA/2gAwIBAgIUKaxrW/myj40nIZ8Z3cRxsOGbA54wDQYJKoZIhvcNAQEL
    BQAwgZAxCzAJBgNVBAYTAkNBMQ0wCwYDVQQIDARUcnVlMRcwFQYDVQQHDA5ub25h
    bWVsb2NhdGlvbjEUMBIGA1UECgwLbm9uYW1lYnJhbmQxDzANBgNVBAsMBm5vbmFt
    ZTEQMA4GA1UEAwwHUm9vdCBDQTEgMB4GCSqGSIb3DQEJARYRbm9uYW1lQG5vbmFt
    ZS5jb20wIBcNMjQwODIyMTEwODA1WhgPMjEyNDA3MjkxMTA4MDVaMIGQMQswCQYD
    VQQGEwJDQTENMAsGA1UECAwEVHJ1ZTEXMBUGA1UEBwwObm9uYW1lbG9jYXRpb24x
    FDASBgNVBAoMC25vbmFtZWJyYW5kMQ8wDQYDVQQLDAZub25hbWUxEDAOBgNVBAMM
    B1Jvb3QgQ0ExIDAeBgkqhkiG9w0BCQEWEW5vbmFtZUBub25hbWUuY29tMIICIjAN
    BgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAtYXBwzg3UV0d7ZDL3JQh7fC9J6Em
    LxNPVxEkL5euMhnByr9JqA1EkhR/gXiMaEDkv1tue1TYoczThZJzS4+vDAkY1SXh
    NwGVR/WMxtye+8fx6MKe2RYezgAQKpR46lgoUg2C/XIWiRTozGNktBgk8R293MC/
    jRf589+tT1AsNUJAuUvSUI4gVXZUDPBfWAnBLAUMW7efZajmVwxM5RLw2kPbWTWA
    f6DZAINwBYQMrkJQmxjTBoJT5mtF25lKa/QcRhqzIkrNVXUouwn0qTeeGkFBg+iW
    ZCXs1CTmjvBueRT6XBg752klavGr8RBUAai8L3q3vbXUqDjmt4U3VQSJgVJf2wWz
    8JUtibmMGgsFhnlNnKlrXd11sJo9zAN55c/iM2Xv4bWqLV6FJcUKzX+89XQFBxpN
    aJd7+3hgSkcZAd4xznL6NKZuoJCkBSoovlUaYZxbwbWZm+hP/CtOnLKMrpTQy6rO
    /iZ4wHQmrcnxlGn3jFPpbjT/StStwovFGQ0uZ7PgLhM79hxLZW95/5ZJ42AdkDA6
    92OILNbcVw/Pl17r86AxPfwMhlGo5BCMG4urL6vaZmsau19uSn4zZr4+ApSUEj0q
    fLXy6YmrB4F+y2VRlMCKgBr6Jkwmr5YPWhEitm6xNPAk17A89luJp6CBkLw+Y1M5
    kMuoP9DQ3lx/DJkCAwEAAaNjMGEwHQYDVR0OBBYEFGToyaT6E7DuZLJng1fJ+Fa9
    erkfMB8GA1UdIwQYMBaAFGToyaT6E7DuZLJng1fJ+Fa9erkfMA8GA1UdEwEB/wQF
    MAMBAf8wDgYDVR0PAQH/BAQDAgGGMA0GCSqGSIb3DQEBCwUAA4ICAQCMaLl7Fp6v
    Y6FJPV6vwbgoct6wjguDVK45RFtXL0gu1QjeJEUWE1M1RaoBcbnhaKt/DOGQ7s9+
    +oiZ1Q5dVUwN4myqoABuiEbtPlXxQaQPBo6bw0FIf/DbrOqGB5lPo9ewcV/XmZFB
    PQcjhSL6DaFR70s6mNiXkhgkk1V2v6djDQeOR2YqRI2azbnuVI6WxVSjzKx+Mp64
    eD9YhO0SggWqwg9kAS/7QKYqxknylKN8PyN8Z8ujzG8YXmpEh5Wkg7/aOMGk31Sg
    KoVDvHZ8Z3QEuD7CB1n30bMMXHjRBOiTzRIoTlsAUK1sO7m3v8aTLXMFKM6GGiLR
    q/pTmCOgEwRF84guOczzmQPBCuvKrgHuciCHCMOfuNB42IYdLBg7MO9oyXtQ9Xzg
    vF5zHEUzXAzMmUC9iXCgcpXayYg1LMXRwiTjYHDIACcWstD3bTDSkdyT64TRoE7d
    Yvk5iPwGv3pprEv3FDDAVFu7T21O95sAv3kHXPr6WJMu57074XLikMBtubFFT3cC
    m8URYdXzzdDAjl3wZ2a2MOwEdop7gaphEpSuZW1iA0uQbfnq2YXVFj3w5vqBm1sy
    vwcwEW3oXknLrcL8Czz3nf+m1TJ77ImYE2M9lWvz01LfJ+/lsqg/XiEPfkP49R9v
    l7KDaZnqczK4dvsWx6CVq0UcwOU/aMLBBQ==
    -----END CERTIFICATE-----
    -----BEGIN CERTIFICATE-----
    MIIF9DCCA9ygAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwgZAxCzAJBgNVBAYTAkNB
    MQ0wCwYDVQQIDARUcnVlMRcwFQYDVQQHDA5ub25hbWVsb2NhdGlvbjEUMBIGA1UE
    CgwLbm9uYW1lYnJhbmQxDzANBgNVBAsMBm5vbmFtZTEQMA4GA1UEAwwHUm9vdCBD
    QTEgMB4GCSqGSIb3DQEJARYRbm9uYW1lQG5vbmFtZS5jb20wIBcNMjQwODIyMTEw
    ODE2WhgPMjEyNDA3MjkxMTA4MTZaMH8xCzAJBgNVBAYTAkNBMQ0wCwYDVQQIDARU
    cnVlMRQwEgYDVQQKDAtub25hbWVicmFuZDEPMA0GA1UECwwGbm9uYW1lMRgwFgYD
    VQQDDA9JbnRlcm1lZGlhdGUgQ0ExIDAeBgkqhkiG9w0BCQEWEW5vbmFtZUBub25h
    bWUuY29tMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAqlZSPM0R4gPq
    c8aSGI110Gs4Pnf53hn+yMEuyxHIOxpgamDdJhkIKUBIl+pVAyoVxx84aimmpDvI
    VTCj5V1B4YZ1K7I5VTD+oRJs/lJ/4gFJJxmUT+AQxafATJToqX6cdKpj2rydhjcQ
    QLqcfZQtb8DU13niat0+oUnz5UBGa7qoJYZ8nJTZWX+UyMmwxd2zv6VInOVUsONs
    rgbdRobywEhVDObfaGW27P47ufOtZ3BoSOc9+x60GJ4Bio0uyHQ5TiiAAcszJGP5
    st5cZ7xMWnjmTE6AjtIvd1O2o/T/lGT77qwUdXkGz8DfwXk+p+oyeOX1W5yjvMbz
    CgqTYTL1d96ISnQXeeReI2CvG7fGriCRuo3DgCrN+HbcxnK0pYrtpS6HIwRg2vtA
    WGSyKUepxk3Et68NM2FdRZmkqrtysVMDweYb16dxf2KRa1W0F8jF8DOCwoWv4463
    QcPlgURfjxUVa9cNB5QhATW5RruQ6n0a8KA7H2cS1q+TP+77zJjmkvRukG11HVTl
    HeCMxWV3/w8aBiyqCjm4Vq3CyCpX3NQoC7aG8uBRwlzTTylUDMVNIxFx1O0Ao7rT
    ES/PyDQvfvdyMl3Hs78XKEJxQIHDqACwNpJKLoIXaJjuqjcXtNeZzf49vWTP2pXK
    AeCvXIW223Z2HPmUohlZuLxrMNDLOZUCAwEAAaNmMGQwHQYDVR0OBBYEFAlDi0Nd
    J0qhE/zccLnkke0oJdwZMB8GA1UdIwQYMBaAFGToyaT6E7DuZLJng1fJ+Fa9erkf
    MBIGA1UdEwEB/wQIMAYBAf8CAQAwDgYDVR0PAQH/BAQDAgGGMA0GCSqGSIb3DQEB
    CwUAA4ICAQBDGbsPJ1Yzde1M3zAC9JUsNZKhwe+yAzj/qVbkO8rQyQUwYvYlwQP/
    8znYnwC8/e0i9MoLVIPRE9JXdGF+6ppALu+sHvrl2/ul0GyvBpjYzq+TwMOnB7gS
    PMf884iMhrfe5GlEIZRNxmJOX/lCyhUC3QtzwFWgC/warIhiMizepaTbunZs8tsI
    fIV6xgqiDbAaucJ43kdYvyllkpQecbvxk5huvWz9X5PF/EWBH1KdsW0t5qvlRurV
    d/zk/hMxoVyPYZh3yxagchq2F5L17irTn4A8ENvMukuZbjd7WAZ6Axe/PXQG2UGt
    uUwWxV7BdiDz9m/6gbDDBGZm3M2VCBOJ1bwWhTjkIHIEAD7Bp4OiuXsVgmOVKwTa
    kB0iNvHTMgS+42NqMtJVaylxrQ22uo5sYYkQlBa8IchMXXGBL2NVMIutm05Y7W4z
    rkItEbF5ZTGJZbay7YF3FpqsKdwvP95qtOUVUhOlEsuZCtgHM+P5rN08WwluI1Eg
    vYUlPjuWfkCYI3/O05Cj42/xVFsduP8ekl5CaWsIqnZQolyoKJ5bfAoj9BXzfiiq
    4xnoIUA+dTdO4og0MmpZ9aQkmiqyWMj6x5Vs5dBN80QIKwj8kI7o1j10UONDjyh5
    kaG6QtPDfuRxOooXGe/br4zIhTI6xNgHG2D45tRjtX9NMwI3XGgwvg==
    -----END CERTIFICATE-----


