filebeat:
  inputs:
  - clean_removed: false
    close_removed: false
    close_renamed: false
    enabled: true
    encoding: plain
    paths:
    - /var/log/mongodb/mongod.log
    type: log
logging:
  files:
    name: filebeat.log
    path: /var/log/filebeat_sec
    rotateeverybytes: 10485760
  level: info
  selectors:
  - '*'
  to_files: true

output.kafka:
  hosts: [ "ams-mongologs-kafka.xbet.lan:9092" ]
  topic: 'mng-{{ index_name }}'
  partition.round_robin:
    reachable_only: false
  required_acks: 1
  compression_level: 3
  max_message_bytes: 1000000
  worker: 2
  bulk_max_size: 200
  username: admin
  password: 'aijaebee0jae0akeeWow2Bah1chohc'
  sasl.mechanism: SCRAM-SHA-512
  ssl.certificate_authorities: |
    -----BEGIN CERTIFICATE-----
    MIIDsTCCApmgAwIBAgIUL8bVfbbgv/KU47js7EFUka9DCxswDQYJKoZIhvcNAQEL
    BQAwZzEeMBwGA1UEAwwVY2ExLnRlc3QuY29uZmx1ZW50LmlvMQ0wCwYDVQQLDARU
    RVNUMRIwEAYDVQQKDAlDT05GTFVFTlQxFTATBgNVBAcMDE1vdW50YWluVmlldzEL
    MAkGA1UEBhMCVVMwIBcNMjQwODIxMTQyNDU4WhgPMjA1MDA0MTIxNDI0NThaMGcx
    HjAcBgNVBAMMFWNhMS50ZXN0LmNvbmZsdWVudC5pbzENMAsGA1UECwwEVEVTVDES
    MBAGA1UECgwJQ09ORkxVRU5UMRUwEwYDVQQHDAxNb3VudGFpblZpZXcxCzAJBgNV
    BAYTAlVTMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApNah/I9Y4/SX
    ioH1lQO6GIVaI1+44dk9W3u6jqMKFFV3LWikJ+VF9OxnzqNDzBKCYx98fsxeS602
    UxG7RlMook/VaNsnVAXFuDSUbEddII4vdhgOqIzDX4dwfnMF5MvPuyHtC5oZQ7+V
    THGERcMkJXoXwtVfw1ZdaRTRw4NK3OUiwfsO3rRVxSDdBhRthAl1bRp0Wvm2/fMx
    lZHxnAc1GUcJN4WSPZTj15tTJzfeO6+YFda2Z5gYBZCcMgU3Wi3EuAbrQIjWycg8
    CuecShDHA8LiUYhrMtB/6Rg7cSBkYTFMd71hvgCyC3RDNM42PafVz7iB9YMiqEi6
    Be0pPFarGQIDAQABo1MwUTAdBgNVHQ4EFgQUnfhZVXBB/Q7hn9lA/WiySugpjTIw
    HwYDVR0jBBgwFoAUnfhZVXBB/Q7hn9lA/WiySugpjTIwDwYDVR0TAQH/BAUwAwEB
    /zANBgkqhkiG9w0BAQsFAAOCAQEAB/jpDQAVL7iVplJ9xl9s/kQqKN2Zxu+dSUaH
    ZYeJXs2oeooGawfl0QTT0bDJYwXoRGxJwhB3KptQ86MX8oveC2OAVs4JVkm2MYea
    sFx15D2SL5wJAjVtw2SF2TxKl+0MwMWROp1cdd+qELfitZMEaeZdZ5D8Cnlj4uZD
    NUHm1UM3xnY/snHAPbPH7wJswBNt7sz6G3I35y5vFz7tt8HXYPMpV3jy6OMMJQwM
    S5BtfpPrmFqk+8KlUo8buHqrBxl6hIPj60sTVF/purGcDc/2LcO77C246/yUq9hv
    BP47WG6I4wFox7mlcMKOJmI2/hAgsHTMJqt5RqdROm863GK9Gw==
    -----END CERTIFICATE-----
  ssl.key: |
    -----BEGIN PRIVATE KEY-----
    MIIEuwIBADANBgkqhkiG9w0BAQEFAASCBKUwggShAgEAAoIBAQCS9kl+2Uo/a6Tn
    svMNpt+81Gf93X6xYn1w/Z2CaJUbbE/D0CRtWansdT1Qo769MQI6C0wvE528eRdt
    As1qoXoMynWGSPBMeSZrzhQIQKBM5nbYeJuVoHb/EUFNkcufzCEBsOsxU0UNWQR8
    8xHvVPDsLtotra3+CvUbJm6Ysx709oWjdsyd1hpx0oDYEgqeRJ0FyxpMXALOgwB4
    nh0NYc6V1wvlWV2IXGBItbzn1wf467spCr31be5m+ii9+j7Aw1iEBFeGqXx+lC4l
    4aHrF2Etpqba7QFZeOzz89gdp3rIKwjADRtsd1jrD5dHXehOiFbtY3zyBgwjuha8
    z2Qn86urAgMBAAECgf9jN44RlaFgL8xP9lXMDF1WSWXr08iKTslhqdeCXhj3P/3v
    X8E4EiYmUwCSRfpVauuV7wqqvb5AVYBQmGkWaZjSCd2joJqbBoUUmIyYWwkzjGRa
    wRJJHOHkUkHu8f9cYvPlsGEYwUmyjpFOdMwm8wcJwpffPuJjdgJZ0hiDVGq8oKxt
    +B5J7+8UJ4N4GjixozyNmUclhS5S3pdRirbVNW0yF6XTY0hZmDxrSOVa3NV0Lri3
    rN87MMvXbLuHXubH67DY/lMz7Ags/Pezj67wuHy0uIcPxn8unlIzkBck/PT4h58C
    u+H7D944ZPuT9I6rMih0ZTmhAHKd1P2eP3Vx9B0CgYEAuXVJ64Y2pqDviSnS9Cxa
    IzlpauDtgfifVm9zktrGCXKdr1FbKKmrIiSC78EO8UzC4DySyQlK0AOE8A3m4O3H
    I2uoKhNyLCA7vs78W2yrnjRNUlJMTmlSYkCplnLQv97BAyzpTXgZ3LgFYYgKjzjC
    mTzCHwe9nDTrcHPVl/XCLjcCgYEAytx/gikRa+SBUZqSfi76IaGrv5ipBOSgZWAc
    6eugE4km1OxRfJo+0QGbQLmH3ufggrGe1DpNC5RBw37L4O6mljW2ByRYyW9ZdPvC
    ZB2Ld8njuRVi5VyZ0s4fnDT3qPOOLMQ76IuHbfTvP2p+18pZn5ia7c1Pe5tyKbEL
    86fU1C0CgYAtAWmO3mMkzKlUf/HRj3HQWn5akXsRr2P7ddB2MuEcKdRaV0Pn+kSt
    ZG7h/9fAdwBTql90qeydzjzUhIsiypEo51dH3rA2RRw6kcBr71M2cTrSX2ZlIOn9
    LfP5rqM57LSqMJvtUNf12DJ2GK13VC7lQPlazmYVIkKAZ5vN5LXawQKBgEVqso89
    smJzLPVZqWtYc+tyQS0s9hlgiqpl+z7ojDxjIFCYFUJIHdqzbAb39dCHFEJkuW7y
    DE88Ckz1ZJqxz3tzIbjL7T3wxnHLfLd5jLIO+cfp04+c4l5KfnKbhWvg+/PBqqZm
    qI8t03il3oXFDmoYdFuPd/VaOfSeSvKzqZZ5AoGBAIuhsdp+L3JC6bOIHXtZfJwx
    yEPqfqtCmJCzFox6fzwbx0NkM8lBSkJFKjG3D8WLN/8rIfxlhXjX+W9Elrs/XrFz
    sDndYQhYc1zb1RmAocDd8Nx+iRtpWe3Oh3ZXOj79kx0nK6R/iF4T70AwuerTqYmf
    KkvmjmX7KRBQpFxCF39I
    -----END PRIVATE KEY-----
  ssl.certificate: |
    -----BEGIN CERTIFICATE-----
    MIIEXDCCA0SgAwIBAgIUOyBGdp7hrT+4s4pT0YNWNMap2c8wDQYJKoZIhvcNAQEL
    BQAwZzEeMBwGA1UEAwwVY2ExLnRlc3QuY29uZmx1ZW50LmlvMQ0wCwYDVQQLDARU
    RVNUMRIwEAYDVQQKDAlDT05GTFVFTlQxFTATBgNVBAcMDE1vdW50YWluVmlldzEL
    MAkGA1UEBhMCVVMwHhcNMjQwODIxMTQyNzM5WhcNMzQwODE5MTQyNzM5WjBnMRUw
    EwYDVQQDDAxrYWZrYV9icm9rZXIxDTALBgNVBAsMBFRFU1QxEjAQBgNVBAoMCUNP
    TkZMVUVOVDERMA8GA1UEBwwIUGFsb0FsdG8xCzAJBgNVBAgMAkNhMQswCQYDVQQG
    EwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJL2SX7ZSj9rpOey
    8w2m37zUZ/3dfrFifXD9nYJolRtsT8PQJG1Zqex1PVCjvr0xAjoLTC8Tnbx5F20C
    zWqhegzKdYZI8Ex5JmvOFAhAoEzmdth4m5Wgdv8RQU2Ry5/MIQGw6zFTRQ1ZBHzz
    Ee9U8Owu2i2trf4K9RsmbpizHvT2haN2zJ3WGnHSgNgSCp5EnQXLGkxcAs6DAHie
    HQ1hzpXXC+VZXYhcYEi1vOfXB/jruykKvfVt7mb6KL36PsDDWIQEV4apfH6ULiXh
    oesXYS2mptrtAVl47PPz2B2nesgrCMANG2x3WOsPl0dd6E6IVu1jfPIGDCO6FrzP
    ZCfzq6sCAwEAAaOB/zCB/DAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIw
    gZoGA1UdEQSBkjCBj4IcYW1zLW1vbmdvbG9ncy1rYWZrYS54YmV0LmxhboIqc2Mt
    YW1zOTkteC1wcm9kLW1vbmdvbG9ncy1rYWZrYS0xLnhiZXQubGFugj1fX29taXRf
    cGxhY2VfaG9sZGVyX18wMjBkZTk3Y2MwOTQ0ZDY2ODZhMWMwNmY3MTA1NjUyMmYy
    YjExODJmhwQXanAEMB0GA1UdDgQWBBTwPgkhOQ3Iy4ffL0v8dySYZegl2jAfBgNV
    HSMEGDAWgBSd+FlVcEH9DuGf2UD9aLJK6CmNMjANBgkqhkiG9w0BAQsFAAOCAQEA
    fKGZZ06a1PeS6tHe81WFlPq6bG4qAYlMLePv3mJR0hI87eTcjef8apGtX3I5JiEf
    4NwACM8Yx+BFDxXoGINek9DKOGfiAPilNu6x7VnJtn2RzfQlJRyVKa+mqVt6Mg/+
    ljBfAyDS9dvtuma2kd0+YTx29MWrs/jbBiCd/WIT8nlD7nZgaXcUFeVrciVimy6t
    sCMkjefpG9JnnwY9IMKgnWwZWm5vE0t5fFb0BdgTpq6dxPkuP71NGMtkVT6XkOTv
    xAdv6yo5NDLUWOIuUiInW/02KChrD/vjlyF+wyFt7bOkDxNXq/UsW8ufAYnWr3xN
    5bNBJJ+ojCcec+imSG0C8w==
    -----END CERTIFICATE-----
    -----BEGIN CERTIFICATE-----
    MIIDsTCCApmgAwIBAgIUL8bVfbbgv/KU47js7EFUka9DCxswDQYJKoZIhvcNAQEL
    BQAwZzEeMBwGA1UEAwwVY2ExLnRlc3QuY29uZmx1ZW50LmlvMQ0wCwYDVQQLDARU
    RVNUMRIwEAYDVQQKDAlDT05GTFVFTlQxFTATBgNVBAcMDE1vdW50YWluVmlldzEL
    MAkGA1UEBhMCVVMwIBcNMjQwODIxMTQyNDU4WhgPMjA1MDA0MTIxNDI0NThaMGcx
    HjAcBgNVBAMMFWNhMS50ZXN0LmNvbmZsdWVudC5pbzENMAsGA1UECwwEVEVTVDES
    MBAGA1UECgwJQ09ORkxVRU5UMRUwEwYDVQQHDAxNb3VudGFpblZpZXcxCzAJBgNV
    BAYTAlVTMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApNah/I9Y4/SX
    ioH1lQO6GIVaI1+44dk9W3u6jqMKFFV3LWikJ+VF9OxnzqNDzBKCYx98fsxeS602
    UxG7RlMook/VaNsnVAXFuDSUbEddII4vdhgOqIzDX4dwfnMF5MvPuyHtC5oZQ7+V
    THGERcMkJXoXwtVfw1ZdaRTRw4NK3OUiwfsO3rRVxSDdBhRthAl1bRp0Wvm2/fMx
    lZHxnAc1GUcJN4WSPZTj15tTJzfeO6+YFda2Z5gYBZCcMgU3Wi3EuAbrQIjWycg8
    CuecShDHA8LiUYhrMtB/6Rg7cSBkYTFMd71hvgCyC3RDNM42PafVz7iB9YMiqEi6
    Be0pPFarGQIDAQABo1MwUTAdBgNVHQ4EFgQUnfhZVXBB/Q7hn9lA/WiySugpjTIw
    HwYDVR0jBBgwFoAUnfhZVXBB/Q7hn9lA/WiySugpjTIwDwYDVR0TAQH/BAUwAwEB
    /zANBgkqhkiG9w0BAQsFAAOCAQEAB/jpDQAVL7iVplJ9xl9s/kQqKN2Zxu+dSUaH
    ZYeJXs2oeooGawfl0QTT0bDJYwXoRGxJwhB3KptQ86MX8oveC2OAVs4JVkm2MYea
    sFx15D2SL5wJAjVtw2SF2TxKl+0MwMWROp1cdd+qELfitZMEaeZdZ5D8Cnlj4uZD
    NUHm1UM3xnY/snHAPbPH7wJswBNt7sz6G3I35y5vFz7tt8HXYPMpV3jy6OMMJQwM
    S5BtfpPrmFqk+8KlUo8buHqrBxl6hIPj60sTVF/purGcDc/2LcO77C246/yUq9hv
    BP47WG6I4wFox7mlcMKOJmI2/hAgsHTMJqt5RqdROm863GK9Gw==
    -----END CERTIFICATE-----
    -----BEGIN CERTIFICATE-----
    MIIEXDCCA0SgAwIBAgIUOyBGdp7hrT+4s4pT0YNWNMap2c8wDQYJKoZIhvcNAQEL
    BQAwZzEeMBwGA1UEAwwVY2ExLnRlc3QuY29uZmx1ZW50LmlvMQ0wCwYDVQQLDARU
    RVNUMRIwEAYDVQQKDAlDT05GTFVFTlQxFTATBgNVBAcMDE1vdW50YWluVmlldzEL
    MAkGA1UEBhMCVVMwHhcNMjQwODIxMTQyNzM5WhcNMzQwODE5MTQyNzM5WjBnMRUw
    EwYDVQQDDAxrYWZrYV9icm9rZXIxDTALBgNVBAsMBFRFU1QxEjAQBgNVBAoMCUNP
    TkZMVUVOVDERMA8GA1UEBwwIUGFsb0FsdG8xCzAJBgNVBAgMAkNhMQswCQYDVQQG
    EwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJL2SX7ZSj9rpOey
    8w2m37zUZ/3dfrFifXD9nYJolRtsT8PQJG1Zqex1PVCjvr0xAjoLTC8Tnbx5F20C
    zWqhegzKdYZI8Ex5JmvOFAhAoEzmdth4m5Wgdv8RQU2Ry5/MIQGw6zFTRQ1ZBHzz
    Ee9U8Owu2i2trf4K9RsmbpizHvT2haN2zJ3WGnHSgNgSCp5EnQXLGkxcAs6DAHie
    HQ1hzpXXC+VZXYhcYEi1vOfXB/jruykKvfVt7mb6KL36PsDDWIQEV4apfH6ULiXh
    oesXYS2mptrtAVl47PPz2B2nesgrCMANG2x3WOsPl0dd6E6IVu1jfPIGDCO6FrzP
    ZCfzq6sCAwEAAaOB/zCB/DAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIw
    gZoGA1UdEQSBkjCBj4IcYW1zLW1vbmdvbG9ncy1rYWZrYS54YmV0LmxhboIqc2Mt
    YW1zOTkteC1wcm9kLW1vbmdvbG9ncy1rYWZrYS0xLnhiZXQubGFugj1fX29taXRf
    cGxhY2VfaG9sZGVyX18wMjBkZTk3Y2MwOTQ0ZDY2ODZhMWMwNmY3MTA1NjUyMmYy
    YjExODJmhwQXanAEMB0GA1UdDgQWBBTwPgkhOQ3Iy4ffL0v8dySYZegl2jAfBgNV
    HSMEGDAWgBSd+FlVcEH9DuGf2UD9aLJK6CmNMjANBgkqhkiG9w0BAQsFAAOCAQEA
    fKGZZ06a1PeS6tHe81WFlPq6bG4qAYlMLePv3mJR0hI87eTcjef8apGtX3I5JiEf
    4NwACM8Yx+BFDxXoGINek9DKOGfiAPilNu6x7VnJtn2RzfQlJRyVKa+mqVt6Mg/+
    ljBfAyDS9dvtuma2kd0+YTx29MWrs/jbBiCd/WIT8nlD7nZgaXcUFeVrciVimy6t
    sCMkjefpG9JnnwY9IMKgnWwZWm5vE0t5fFb0BdgTpq6dxPkuP71NGMtkVT6XkOTv
    xAdv6yo5NDLUWOIuUiInW/02KChrD/vjlyF+wyFt7bOkDxNXq/UsW8ufAYnWr3xN
    5bNBJJ+ojCcec+imSG0C8w==
    -----END CERTIFICATE-----


