---
- name: reload systemd
  systemd:
    daemon_reload: yes

- name: restart mongodb_exporter
  systemd:
    name: mongodb_exporter
    state: restarted

- name: restart node_exporter
  systemd:
    name: node_exporter
    state: restarted
    enabled: yes
