apiVersion: v1
kind: ConfigMap
metadata:
  name: librespeed-servers.servers.json
  namespace: final
  labels:
    app.kubernetes.io/instance: librespeed
data:
  servers.json: |
    [
      {"name": "Helsinki, Finland (1) (Hetzner)", "server": "//fi1.backend.librespeed.org/", "dlURL": "garbage.php", "ulURL": "empty.php", "pingURL": "empty.php", "getIpURL": "getIP.php"},
      {"name": "Paris, France (online.net)", "server": "//fr1.backend.librespeed.org/", "dlURL": "garbage.php", "ulURL": "empty.php", "pingURL": "empty.php", "getIpURL": "getIP.php"},
      {"name": "Nuremberg, Germany (1) (Hetzner)", "server": "//de1.backend.librespeed.org/", "dlURL": "garbage.php", "ulURL": "empty.php", "pingURL": "empty.php", "getIpURL": "getIP.php"},
      {"name": "Nuremberg, Germany (2) (netcup)", "server": "//de2.backend.librespeed.org/", "dlURL": "garbage.php", "ulURL": "empty.php", "pingURL": "empty.php", "getIpURL": "getIP.php"},
      {"name": "Amsterdam, Netherlands (online.net)", "server": "//nl1.backend.librespeed.org/", "dlURL": "garbage.php", "ulURL": "empty.php", "pingURL": "empty.php", "getIpURL": "getIP.php"},
      {"name": "Prague, Czech Republic (Clouvider)", "server": "//cz1.backend.librespeed.org/", "dlURL": "garbage.php", "ulURL": "empty.php", "pingURL": "empty.php", "getIpURL": "getIP.php"},
      {"name": "London, UK (1) (Clouvider)", "server": "//uk1.backend.librespeed.org/", "dlURL": "garbage.php", "ulURL": "empty.php", "pingURL": "empty.php", "getIpURL": "getIP.php"},
      {"name": "New York, NY (Clouvider)", "server": "//us1.backend.librespeed.org/", "dlURL": "garbage.php", "ulURL": "empty.php", "pingURL": "empty.php", "getIpURL": "getIP.php"},
      {"name": "Atlanta, GA (Clouvider)", "server": "//us2.backend.librespeed.org/", "dlURL": "garbage.php", "ulURL": "empty.php", "pingURL": "empty.php", "getIpURL": "getIP.php"},
      {"name": "Dallas, TX (Clouvider)", "server": "//us3.backend.librespeed.org/", "dlURL": "garbage.php", "ulURL": "empty.php", "pingURL": "empty.php", "getIpURL": "getIP.php"},
      {"name": "Los Angeles, CA (Clouvider)", "server": "//us4.backend.librespeed.org/", "dlURL": "garbage.php", "ulURL": "empty.php", "pingURL": "empty.php", "getIpURL": "getIP.php"},
      {"name": "N. Vancouver, BC (Clouvider)", "server": "//ca1.backend.librespeed.org/", "dlURL": "garbage.php", "ulURL": "empty.php", "pingURL": "empty.php", "getIpURL": "getIP.php"},
      {"name": "Milan, Italy (Prometeus/Iperius)", "server": "//it1.backend.librespeed.org/", "dlURL": "garbage.php", "ulURL": "empty.php", "pingURL": "empty.php", "getIpURL": "getIP.php"},
      {"name": "Amsterdam, Netherlands", "server": "http://spd-nlsrv.hostkey.com/", "id": 1, "dlURL": "garbage", "ulURL": "empty", "pingURL": "empty", "getIpURL": "getIP"},
      {"name": "NewYork, USA", "server": "http://spd-uswb.hostkey.com/", "id": 3, "dlURL": "garbage", "ulURL": "empty", "pingURL": "empty", "getIpURL": "getIP"}
    ]
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: librespeed-env
  namespace: final
  labels:
    app.kubernetes.io/instance: librespeed
data:
  MODE: "frontend"
  TELEMETRY: "true"
  ENABLE_ID_OBFUSCATION: "true"
  REDACT_IP_ADDR: "true" 
  IP_ADDRESS_OPTION: "0" 
  DB_TYPE: "mysql"
  DB_HOSTNAME: "mysql.db.svc.cluster.local" 
  DB_NAME: "speedtest"
  DB_USERNAME: "speedtest"
---
apiVersion: v1
kind: Secret
metadata:
  name: librespeed-secret
  namespace: final
  labels:
    app.kubernetes.io/instance: librespeed
type: Opaque
stringData:
  DB_PASSWORD: "speedtestpassword"